table {
    border-collapse: collapse;
    width: 100%;
}

table th, td {
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #555555;
    color: white;
}

table tr:not(:first-child):hover {
    background-color: #dddddd;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
